body {
    padding-top: 10px;
}

.starter-template {
    padding: 0px 15px;
    text-align: center;
}

.data-box {
    border: 1px solid #428bca;
    /*width: 1000px;*/
    height: 300px;
    overflow: scroll;
    text-align: left;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
